@()

<!DOCTYPE html>

<html>
<head>
<title>datasocket console</title>
<link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-superhero/3.2.0/css/bootstrap.min.css"))"/>
@Html(org.webjars.play.RequireJS.setup("javascripts/console"))
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"/>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/console.css")"/>
</head>
<body ng-controller="ConsoleCtrl">
  <div ng-cloak>
	  <h2 ng-hide="socket">Connection</h2>
		<div class="input-group">
		  <input type="text" ng-model="url" class="form-control" ng-disabled="socket"/>
		  <span class="input-group-btn">
		    <button class="btn btn-primary" type="button" ng-if="!socket" ng-click="connect(url)" ng-disabled="!url">Connect</button>
	      <button class="btn btn-primary" type="button" ng-if="socket" ng-click="disconnect()">Disconnect</button>
		  </span>
	  </div>
	  <h2>Console</h2>
	  <form ng-submit="exec(command)">
		  <div class="input-group">
        <span class="input-group-addon label-info">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </span>
		    <input type="text" ng-model="command" class="form-control command" ng-disabled="!socket" focus-on="focusCommand"/>
		    <span class="input-group-btn">
		      <button class="btn btn-success" type="submit" ng-disabled="!(socket && command)">Send</button>
		    </span>
		  </div>
		  <ul class="list-group">
		    <li ng-repeat="line in log | reverse" class="list-group-item">
		      <span class="sender glyphicon" ng-class="{'glyphicon-cloud-upload label-info': line.sender == 'client', 'glyphicon-cloud-download label-warning': line.sender == 'server', 'glyphicon-cloud label-default': line.sender == 'system'}"></span>
		      <span ng-hide="line.formatted" ng-click="line.formatted = true">{{ line.msg | json }}</span>
		      <pre ng-show="line.formatted" ng-click="line.formatted = false">{{ line.msg | json }}</pre>
		    </li>
		  </ul>
	  </form>
  </div>
</body>
</html>
