@()

<!DOCTYPE html>

<html>
<head>
<title>datasocket collection</title>
<link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-superhero/3.2.0/css/bootstrap.min.css"))"/>
@Html(org.webjars.play.RequireJS.setup("javascripts/dashboard"))
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"/>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/dashboard.css")"/>
</head>
<body ng-controller="DashboardCtrl">
  <div ds-collection="test" options="{limit: 100, order: {id: 1}}">
  <form class="form">
    <div class="form-group">
      <label for="offset">Offset</label>
      <input id="offset" type="number" min="0" class="form-input" ng-model="offset" ng-init="offset = 0"/>
    </div>
    <div class="form-group">
      <label for="limit">Limit</label>
      <input id="limit" type="number" min="1" class="form-input" ng-model="limit" ng-init="limit = 100"/>
    </div>
    <div class="form-group">
      <label for="filter">Filter</label>
      <input id="filter" type="text" class="form-input" ng-model="filter" ng-model-options="{ updateOn: 'blur' }" ng-init="filter = '{}'"/>
    </div>
    <button class="btn btn-default" ng-click="offset = offset - limit">Previous page</button>
    <button class="btn btn-default" ng-click="offset = offset + limit">Next page</button>
    <button class="btn btn-primary" ng-click="collection.refresh()">Refresh</button>
  </form>
  <h3>{{collection.name}} <span class="badge">{{collection.buffer.length}}/{{collection.info.total}}</span></h3>
  <table class="table">
    <tr ng-repeat="item in collection.buffer">
      <td><input type="text" ng-model="item.name.value"/></td>
      <td ng-repeat="field in item.fields">
        <input type="text" ng-model="field.value"/>
        <button class="btn btn-default" ng-show="field.dirty" ng-click="field.save()">Save</button>
      </td>
      <td>
        <button class="btn btn-default" ng-show="item._isDirty()" ng-click="item._save()">Save Item</button>
      </td>
    </tr>
  </table>
  <ds-paginator></ds-paginator>
  <h3>Index</h3>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="(id, index) in collection.index">{{id}}: {{index}}</li>
  </ul>
  <h3>Info</h3>
  <div>
    {{collection.info}}
  </div>
  </div>
</body>
</html>
