@import "common.less";

body {
  overflow: hidden;
}

.command {
  font-family: monospace;
}

li.list-group-item {
  padding-left: 50px;
}

.sender {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  padding: 8px;
  margin: 0;
  font-size: 1.5em;
  width: 40px;
}

.list-group-item.ng-enter,
.list-group-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.list-group-item.ng-enter,
.list-group-item.ng-leave.ng-leave-active {
  opacity:0;
}
.list-group-item.ng-leave,
.list-group-item.ng-enter.ng-enter-active {
  opacity:1;
}